.container_2 {
    width: 100%;
    height: auto;
    background-color: $white-color;
    margin: 15px;

    .links {
        position: relative;
        display: block;

        .btn {
            display: flex;
            justify-content: center;
            padding: 25px;

        }
        .links-table {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            height: auto;
            width: 100%;
            max-width: 100%;
            margin: 0 auto;

        }
    }
    .links-head {
        line-height: 47px;

        h3 {
            color: $brand-main-color;
            border-bottom: $border;
            font-size: 20px;
            text-transform: uppercase;
            padding: 17px;

        }
    }
    .row {
        display: flex;
        justify-content: center;
        border-top: $border;
        margin: 0 auto;
        padding: 20px;
        height: 60px;
        width: 700px;

        &:hover {
            background-color: $light-grey-color;

        }
        a {
            text-decoration: none;
            color: $blue-color;

            &:hover {
                color: $orange-hover-color;

            }
        }
        .title-links {
            display: flex;
            justify-content: left;
            width: 300px;
            height: 60px;
            color: $brand-main-color;
            font-weight: 600;
            font-size: 16px;

        }
        .link {
            display: flex;
            justify-content: left;
            width: 300px;
            height: 60px;
            margin-right: 15px;
            font-size: 14px;
            color: $blue-color;

            .icons {
                margin-right: 10px;
                width: 100px;
                color: $black-color;

                &:hover {
                    color: $orange-hover-color;

                }
                .fa-link {
                    margin-right: 10px;

                }
            }
        }
    }

    button[type='submit'] {
        text-align: center;
        font-size: 20px;
        color: $body-color;
        background-color: $orange-color;
        border: none;
        height: 40px;
        width: 130px;
        border-radius: 10px;

        &:hover {
            background-color: $orange-hover-color;
            cursor: pointer;

        }

    }

}
